div {
  width: 80%;
}

table {
  width: 100%;
}

tr.detalhes {
  height: 0;
}

.hospital-row td {
  border-bottom-width: 0;
}

.mais-detalhes-container {
  overflow: hidden;
  display: flex;
}


.mais-detalhes{
  width: 100%;
  padding: 16px 0;
}

.informacoes-extras {
  padding: 5px 0;
}

.listas {
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

td {
  color: #212121;
  font-weight: 500;
  background-color: #EEEEEE;
}

th {
  color: #FAFAFA;
  font-weight: 500;
  background-color: #3f51b5;
}

#percentualLotacaoEmergencias,
#dataAtualizacaoEmergengias,
#percentualLotacaoUtis,
#dataAtualizacaoUtis {
  text-align: center;
}

:host ::ng-deep .mat-select-min-line, .mat-select-arrow {
  color: #FAFAFA;
}

:host ::ng-deep .mat-select-arrow {
  color: #FAFAFA;
}

:host ::ng-deep .mat-form-field-underline {
  background-color: #FAFAFA;
}

.paginator {
  color: #FAFAFA;
  font-weight: 500;
  background-color: #7986CB;
  width: 100%;
}

.low {
  background-color: #66BB6A;
  padding-right: 0 !important;
}
.medium {
  background-color: #FFCA28;
  padding-right: 0 !important;
}
.high {
  background-color: #EF5350;
  padding-right: 0 !important;
}

.daltonicoLow {
  background-color: #1E88E5;
  padding-right: 0 !important;
}
.daltonicoMedium {
  background-color: #FFC107;
  padding-right: 0 !important;
}
.daltonicoHigh {
  background-color: #D81B60;
  padding-right: 0 !important;
}

#info {
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
}

#info-text {
  padding-left: 1rem;
}

#toggle {
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 20px;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

th.mat-header-cell {
  padding-right: 0 !important;
}

:host ::ng-deep .mat-tab-label {
  font-size: medium;
  color: #212121;
}

