<mat-tab-group>
  <mat-tab label="Lista de Emergências">
    <section>
      <div>
        <table mat-table [dataSource]="dataSourceEmergencias" multiTemplateDataRows class="mat-elevation-z8">

          <ng-container matColumnDef="nomeHospital">
            <th mat-header-cell *matHeaderCellDef> Hospital </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeHospital}} - {{ element.especializacao }} </td>
          </ng-container>

          <ng-container matColumnDef="dataAtualizacao">
            <th mat-header-cell *matHeaderCellDef id="dataAtualizacaoEmergengias"> Data Última Atualização </th>
            <td mat-cell *matCellDef="let element" align="center"> {{element.dataAtualizacao}} </td>
          </ng-container>

          <ng-container matColumnDef="percentualLotacao">
            <th mat-header-cell *matHeaderCellDef id="percentualLotacaoEmergencias"> Percentual de Lotação </th>
            <td mat-cell *matCellDef="let element" align="center" [ngClass]="this.getCorColunaPercentualLotacao(element.percentualLotacao)"> {{element.percentualLotacao}} </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  <div class="informacoes-extras">
                    Nº de Leitos: {{element.leitos}}
                  </div>
                  <div class="informacoes-extras">
                    Nº de Pacientes: {{element.numeroPacientes}}
                  </div>
                  <div class="informacoes-extras">
                    Especialização: {{element.especializacao}}
                  </div>
                  <div class="informacoes-extras">
                    Tipo de Instituição: {{element.label}}
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="this.setElementoAberto(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator
            [pageSizeOptions]="[10, 20, 30]"
            showFirstLastButtons
            aria-label="Selecione a página de hospitais"
            class="paginator">
        </mat-paginator>

      </div>
    </section>

  </mat-tab>

  <mat-tab label="Lista de UTIs">
    <section>
      <div>
        <table mat-table [dataSource]="dataSourceUtis" multiTemplateDataRows class="mat-elevation-z8">

          <ng-container matColumnDef="nomeHospital">
            <th mat-header-cell *matHeaderCellDef > Hospital </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeHospital}} - {{ element.especializacao }} </td>
          </ng-container>

          <ng-container matColumnDef="dataAtualizacao">
            <th mat-header-cell *matHeaderCellDef id="dataAtualizacaoUtis"> Data Última Atualização </th>
            <td mat-cell *matCellDef="let element" align="center"> {{element.dataAtualizacao}} </td>
          </ng-container>

          <ng-container matColumnDef="percentualLotacao">
            <th mat-header-cell *matHeaderCellDef id="percentualLotacaoUtis"> Percentual de Lotação </th>
            <td mat-cell *matCellDef="let element" align="center" [ngClass]="this.getCorColunaPercentualLotacao(element.percentualLotacao)"> {{element.percentualLotacao}} </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  <div class="informacoes-extras">
                    Nº de Leitos: {{element.leitos}}
                  </div>
                  <div class="informacoes-extras">
                    Nº de Pacientes: {{element.numeroPacientes}}
                  </div>
                  <div class="informacoes-extras">
                    Especialização: {{element.especializacao}}
                  </div>
                  <div class="informacoes-extras">
                    Tipo de Instituição: {{element.label}}
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="this.setElementoAberto(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator
            [pageSizeOptions]="[10, 20, 30]"
            showFirstLastButtons
            aria-label="Selecione a página de hospitais"
            class="paginator">
        </mat-paginator>

      </div>
    </section>

  </mat-tab>
</mat-tab-group>

<section id="info">
  <mat-icon color="primary">info</mat-icon>
  <span id="info-text">
    Selecione um hospital para ver mais informações!
  </span>
</section>
